<a href="https://colab.research.google.com/github/johncduran/sqlite_database_operations/blob/main/HHA_504_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Installing and importing

In [2]:
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Downloading https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
     | 22.6 MB 21.7 MB/s 0:00:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scipy<1.12,>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (1.11.2)
Requirement already satisfied: pandas!=1.4.0,<2.1,>1.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (1.5.3)
Requirement already satisfied: matplotlib<4,>=3.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (3.7.1)
Requirement already satisfied: pydantic<2,>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (1.10.12)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (3.1.2)
Collecting visions[type_image_path]==0.7.5 (from ydata-profiling==0.0.dev0)
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.7/102.7 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.24,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (1.23.5)
Collecting htmlmin==0.1.12 (from ydata-profiling==0.0.dev0)
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Collecting phik<0.13,>=0.11.1 (from ydata-profiling==0.0.dev0)
  Downloading phik-0.12.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (679 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 679.5/679.5 kB 24.4 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2.24.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (4.66.1)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (0.12.2)
Collecting multimethod<2,>=1.4 (from ydata-profiling==0.0.dev0)
  Downloading multimethod-1.10-py3-none-any.whl (9.9 kB)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (0.14.0)
Collecting typeguard<3,>=2.13.2 (from ydata-profiling==0.0.dev0)
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Collecting imagehash==4.3.1 (from ydata-profiling==0.0.dev0)
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.5/296.5 kB 31.0 MB/s eta 0:00:00
Requirement already satisfied: wordcloud>=1.9.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (1.9.2)
Collecting dacite>=1.8 (from ydata-profiling==0.0.dev0)
  Downloading dacite-1.8.1-py3-none-any.whl (14 kB)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.10/dist-packages (from imagehash==4.3.1->ydata-profiling==0.0.dev0) (1.4.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.10/dist-packages (from imagehash==4.3.1->ydata-profiling==0.0.dev0) (9.4.0)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.10/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (23.1.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.10/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (3.1)
Collecting tangled-up-in-unicode>=0.0.4 (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0)
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 75.0 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2<3.2,>=2.11.1->ydata-profiling==0.0.dev0) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas!=1.4.0,<2.1,>1.1->ydata-profiling==0.0.dev0) (2023.3.post1)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from phik<0.13,>=0.11.1->ydata-profiling==0.0.dev0) (1.3.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2,>=1.8.1->ydata-profiling==0.0.dev0) (4.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling==0.0.dev0) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling==0.0.dev0) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling==0.0.dev0) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling==0.0.dev0) (2023.7.22)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels<1,>=0.13.2->ydata-profiling==0.0.dev0) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling==0.0.dev0) (1.16.0)
Building wheels for collected packages: ydata-profiling, htmlmin
  Building wheel for ydata-profiling (setup.py) ... done
  Created wheel for ydata-profiling: filename=ydata_profiling-0.0.dev0-py2.py3-none-any.whl size=357350 sha256=28df13908d270d1a0afacebf52e5f241444a00c79c33c7ef0a17166679d1ee38
  Stored in directory: /tmp/pip-ephem-wheel-cache-zt3owt56/wheels/07/29/61/f533cc7cbd0a97efb2d1b94d3254a3e859a949367ba842577b
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27081 sha256=50dc0e6c1511405c4eae127f1b65b2d34c650ae1da84fb613429349e5bf410f3
  Stored in directory: /root/.cache/pip/wheels/dd/91/29/a79cecb328d01739e64017b6fb9a1ab9d8cb1853098ec5966d
Successfully built ydata-profiling htmlmin
Installing collected packages: htmlmin, typeguard, tangled-up-in-unicode, multimethod, dacite, imagehash, visions, phik, ydata-profiling
Successfully installed dacite-1.8.1 htmlmin-0.1.12 imagehash-4.3.1 multimethod-1.10 phik-0.12.3 tangled-up-in-unicode-0.2.0 typeguard-2.13.3 visions-0.7.5 ydata-profiling-0.0.dev0

In [ ]:
import os
os._exit(00)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
from sqlalchemy import create_engine
import sqlite3

<ipython-input-1-bd9d9ce9ff97>:5: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

I am importing and installing all necessary packages inorder to analyze the tables

In [2]:
df1 = pd.read_csv('https://raw.githubusercontent.com/johncduran/sqlite_database_operations/main/datasets/113243405_StonyBrookUniversityHospital_standardcharges.csv')
df1

,Code,Description,Type,Package/Line_Level,Gross charge,Discounted cash price,De-identified min contracted rate,De-identified max contracted rate,Derived contracted rate,1199-Commercial other,...,Optum-Commercial other,Oxford-Commercial other,Oxford-Commercial HMO/POS,Tricare-Commercial other,United Healthcare-Commercial other,United Healthcare-Medicare Advantage HMO,United Healthcare-Commercial HMO/POS,United Healthcare-Medicaid HMO,United Healthcare-Commercial PPO/Open Access,Veteran Family-Commercial other
0,10004,"FINE NEEDLE ASPIRATION BIOPSY, EACH ADDITIONAL...",Outpatient,Line,718.67,718.67,2155.50,2155.50,2155.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10005,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Line,2061.25,2061.25,87.02,4782.00,2308.44,2411.0,...,NaN,4782.0,NaN,NaN,3845.25,NaN,NaN,658.94,NaN,NaN
2,10005,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Package,2061.25,2061.25,87.02,4782.00,2308.44,2411.0,...,NaN,4782.0,NaN,NaN,3845.25,NaN,NaN,658.94,NaN,NaN
3,10006,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Line,728.54,728.54,58.55,1761.25,909.90,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10009,FINE NEEDLE ASPIRATION BIOPSY OF GROWTH USING ...,Outpatient,Line,2823.01,2823.01,446.28,6017.59,4219.31,4592.0,...,NaN,NaN,NaN,NaN,5127.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7705,30981203,R&B SICU 09W1 ICR PT-Z,NaN,NaN,12090.00,12090.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7706,30993018,R&B TICR 09W2 - PT-I,NaN,NaN,13590.00,13590.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7707,33500000,R&B REV PICU 11S2 PT-X,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7708,30333058,ROPH HOSP.OBSERVATION PT-T,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7709,30000004,SEMI-PRIVATE,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df2 = pd.read_csv('https://raw.githubusercontent.com/johncduran/sqlite_database_operations/main/datasets/133957095_NewYorkPresbyterianHospital_standardcharges.csv')
df2

,1199,Code (CPT/DRG),Description,Rev Code,Inpatient/Outpatient,Gross Charges,Discounted Cash Price,Aetna,Cigna,Empire Blue Cross Blue Shield,...,Consumer Health Network,Devon,Equian,First Health,Magnacare,Multiplan/Beechstreet/PHCS,QHM,Worldwide,Minimum Negotiated Charge,Maximum Negotiated Charge
0,433,96360,HC IV INFUSION HYDRATION INITIAL 31 MIN-1HR,0260,Inpatient/Outpatient,866.000000,866.000000,641.706,494.486,640.84,...,393.5104,393.5104,393.5104,393.5104,393.5104,393.5104,393.5104,393.5104,253.048250,1388.424000
1,179,96361,HC IV INFUSION HYDRATION FLUIDS ADDL HR,0260,Inpatient/Outpatient,358.000000,358.000000,265.278,204.418,264.92,...,162.6752,162.6752,162.6752,162.6752,162.6752,162.6752,162.6752,162.6752,51.903250,1990.891341
2,698.5,96365,HC IV INFUSION FOR THER/PROPH/DIAG INITIAL UP ...,0260,Inpatient/Outpatient,1397.000000,1397.000000,1035.177,797.687,1033.78,...,634.7968,634.7968,634.7968,634.7968,634.7968,634.7968,634.7968,634.7968,253.048250,1475.508000
3,240,96367,HC IV INF THER/PROPH/DIAG ADDL SEQ NEW DRUG UP...,0260,Inpatient/Outpatient,480.000000,480.000000,355.68,274.08,355.2,...,218.112,218.112,218.112,218.112,218.112,218.112,218.112,218.112,82.650750,1325.120000
4,240,96368,HC IV INFUSION FOR THER/PROPH/DIAG CONCURRENT,0260,Inpatient/Outpatient,480.000000,480.000000,355.68,274.08,355.2,...,218.112,218.112,218.112,218.112,218.112,218.112,218.112,218.112,156.982800,1325.120000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6188,40203.9378,982,EXTENSIVE O.R. PROCEDURES UNRELATED TO PRINCIP...,Multiple,Inpatient,184095.129020,184095.129020,86723.5232,98911.694706,82299.84,...,83652.8266268735,83652.8266268735,83652.8266268735,83652.8266268735,83652.8266268735,83652.8266268735,83652.8266268735,83652.8266268735,12561.144027,115129.891480
6189,26771.6358,983,EXTENSIVE O.R. PROCEDURES UNRELATED TO PRINCIP...,Multiple,Inpatient,85385.941857,85385.941857,57748.8352,65864.888166,63931.4550933333,...,38799.3719796408,38799.3719796408,38799.3719796408,38799.3719796408,38799.3719796408,38799.3719796408,38799.3719796408,38799.3719796408,7833.746854,76664.518280
6190,53190.6336,987,NON-EXTENSIVE O.R. PROCEDURES UNRELATED TO PRI...,Multiple,Inpatient,411665.999955,411665.999955,114736.9984,130862.199072,214294.876425,...,187061.0303797436,187061.0303797436,187061.0303797436,187061.0303797436,187061.0303797436,187061.0303797436,187061.0303797436,187061.0303797436,21016.798830,214294.876425
6191,27191.5956,988,NON-EXTENSIVE O.R. PROCEDURES UNRELATED TO PRI...,Multiple,Inpatient,126522.871140,126522.871140,58654.7264,66898.093812,91907.6928,...,57491.9926458445,57491.9926458445,57491.9926458445,57491.9926458445,57491.9926458445,57491.9926458445,57491.9926458445,57491.9926458445,10429.428059,91907.692800
6192,17670.3696,989,NON-EXTENSIVE O.R. PROCEDURES UNRELATED TO PRI...,Multiple,Inpatient,77081.639496,77081.639496,38116.5824,43473.507792,44463.77208,...,35025.8969869067,35025.8969869067,35025.8969869067,35025.8969869067,35025.8969869067,35025.8969869067,35025.8969869067,35025.8969869067,5995.071552,50601.703360

Both datasets have now been loaded in

##1. Data Exploration and Analysis:

In [4]:
stats = df1.describe()
stats

,Gross charge,Discounted cash price,De-identified min contracted rate,De-identified max contracted rate,Derived contracted rate,1199-Commercial other,Aetna-Medicare Advantage HMO,Aetna-Commercial HMO/POS,Aetna-Commercial PPO/Open Access,Aetna-Commercial other,...,Optum-Commercial other,Oxford-Commercial other,Oxford-Commercial HMO/POS,Tricare-Commercial other,United Healthcare-Commercial other,United Healthcare-Medicare Advantage HMO,United Healthcare-Commercial HMO/POS,United Healthcare-Medicaid HMO,United Healthcare-Commercial PPO/Open Access,Veteran Family-Commercial other
count,7.710000e+03,7.710000e+03,6254.000000,6.254000e+03,6254.000000,1014.000000,1106.000000,1827.000000,1612.000000,128.000000,...,943.000000,1777.000000,0.0,434.000000,2357.000000,624.000000,133.000000,2065.000000,357.000000,46.000000
mean,2.274832e+04,2.274832e+04,4090.693876,1.003579e+04,6315.587725,5791.542456,5614.005027,4320.418248,4436.188381,1703.756250,...,10868.205705,2572.653849,NaN,2070.212120,5977.464298,4438.776234,3261.594586,2454.314228,789.416667,702.261087
std,7.470570e+04,7.470570e+04,10576.213503,2.915075e+04,14601.846406,24302.352403,12671.487487,8718.537182,8881.733882,5124.232802,...,20703.429246,4036.667401,NaN,8501.228677,16227.981498,9982.579323,10266.478193,11009.140577,2880.486830,1717.006016
min,3.000000e-02,3.000000e-02,0.010000,1.000000e-01,0.030000,0.010000,1.100000,0.020000,0.500000,0.590000,...,2.370000,0.010000,NaN,1.000000,0.010000,1.330000,0.190000,0.010000,0.180000,2.480000
25%,1.065895e+03,1.065895e+03,96.520000,6.982500e+02,403.117500,148.797500,125.070000,277.900000,312.750000,110.387500,...,200.450000,197.880000,NaN,71.220000,258.500000,96.290000,129.000000,42.980000,8.400000,26.810000
50%,4.745295e+03,4.745295e+03,1108.860000,4.311000e+03,2600.740000,974.400000,714.860000,2153.000000,2153.000000,404.500000,...,1700.200000,1932.380000,NaN,236.230000,1571.000000,387.500000,444.000000,425.790000,34.830000,82.710000
75%,1.103881e+04,1.103881e+04,4309.532500,8.170000e+03,5870.540000,4592.000000,5782.430000,4822.000000,4822.000000,1778.920000,...,13359.895000,4704.000000,NaN,1486.947500,5127.000000,3531.920000,2257.430000,1753.100000,286.800000,235.000000
max,1.857952e+06,1.857952e+06,327869.690000,1.302636e+06,370099.900000,331304.280000,157848.600000,99999.990000,96372.570000,54838.130000,...,277267.380000,80891.260000,NaN,154940.610000,291490.750000,92493.910000,88051.340000,327869.690000,26350.000000,7195.400000

Here I am getting statistical data about the data values such as mean, standard deviation and more.

In [51]:
stats2 = df2.describe()
stats2

,Gross Charges,Discounted Cash Price,Minimum Negotiated Charge,Maximum Negotiated Charge
count,6.193000e+03,6.193000e+03,5912.000000,5.912000e+03
mean,3.385988e+04,3.385988e+04,2249.918880,2.390277e+04
std,1.062409e+05,1.062409e+05,6015.717204,7.136503e+04
min,1.000000e+00,1.000000e+00,0.454400,1.608000e+00
25%,5.970000e+02,5.970000e+02,122.228437,6.380010e+02
50%,3.925000e+03,3.925000e+03,431.142905,4.086731e+03
75%,3.033600e+04,3.033600e+04,2107.000000,1.925640e+04
max,2.538980e+06,2.538980e+06,204861.126000,1.713460e+06

The same has been done with df2

In [52]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)
IQR = Q3 - Q1
outliers = ((df1 < (Q1 - 1.5 * IQR)) | (df1 > (Q3 + 1.5 * IQR))).any(axis=1)

outliers

<ipython-input-52-0f8d96ebebb5>:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q1 = df1.quantile(0.25)
<ipython-input-52-0f8d96ebebb5>:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q3 = df1.quantile(0.75)
<ipython-input-52-0f8d96ebebb5>:4: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers = ((df1 < (Q1 - 1.5 * IQR)) | (df1 > (Q3 + 1.5 * IQR))).any(axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
7705    False
7706    False
7707    False
7708    False
7709    False
Length: 7710, dtype: bool

Here in this first dataset there are no outliers that were detected.

In [53]:
Q1 = df2.quantile(0.25)
Q3 = df2.quantile(0.75)
IQR = Q3 - Q1
outliers = ((df2 < (Q1 - 1.5 * IQR)) | (df2 > (Q3 + 1.5 * IQR))).any(axis=1)

outliers

<ipython-input-53-12e08b22bbe6>:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q1 = df2.quantile(0.25)
<ipython-input-53-12e08b22bbe6>:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q3 = df2.quantile(0.75)
<ipython-input-53-12e08b22bbe6>:4: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers = ((df2 < (Q1 - 1.5 * IQR)) | (df2 > (Q3 + 1.5 * IQR))).any(axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
6188     True
6189     True
6190     True
6191     True
6192     True
Length: 6193, dtype: bool

Here in this dataset it picked up a few outliers at the end of the dataset. However, after reviewing these lines I could not find a clear outlier from the numerical values. I see what would seem to be outliers in line 6186, but it seems it was not picked up by the code.

In [54]:
df1.info

<bound method DataFrame.info of           Code                                        Description        Type  \
0        10004  FINE NEEDLE ASPIRATION BIOPSY, EACH ADDITIONAL...  Outpatient
1        10005  FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...  Outpatient
2        10005  FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...  Outpatient
3        10006  FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...  Outpatient
4        10009  FINE NEEDLE ASPIRATION BIOPSY OF GROWTH USING ...  Outpatient
...        ...                                                ...         ...
7705  30981203                             R&B SICU 09W1 ICR PT-Z         NaN
7706  30993018                               R&B TICR 09W2 - PT-I         NaN
7707  33500000                             R&B REV PICU 11S2 PT-X         NaN
7708  30333058                         ROPH HOSP.OBSERVATION PT-T         NaN
7709  30000004                                       SEMI-PRIVATE         NaN

     Package/Line_Level  Gross charge  Discounted cash price  \
0                  Line        718.67                 718.67
1                  Line       2061.25                2061.25
2               Package       2061.25                2061.25
3                  Line        728.54                 728.54
4                  Line       2823.01                2823.01
...                 ...           ...                    ...
7705                NaN      12090.00               12090.00
7706                NaN      13590.00               13590.00
7707                NaN       8165.00                8165.00
7708                NaN       8165.00                8165.00
7709                NaN       8165.00                8165.00

      De-identified min contracted rate  De-identified max contracted rate  \
0                               2155.50                            2155.50
1                                 87.02                            4782.00
2                                 87.02                            4782.00
3                                 58.55                            1761.25
4                                446.28                            6017.59
...                                 ...                                ...
7705                                NaN                                NaN
7706                                NaN                                NaN
7707                                NaN                                NaN
7708                                NaN                                NaN
7709                                NaN                                NaN

      Derived contracted rate  1199-Commercial other  ...  \
0                     2155.50                    NaN  ...
1                     2308.44                 2411.0  ...
2                     2308.44                 2411.0  ...
3                      909.90                    NaN  ...
4                     4219.31                 4592.0  ...
...                       ...                    ...  ...
7705                      NaN                    NaN  ...
7706                      NaN                    NaN  ...
7707                      NaN                    NaN  ...
7708                      NaN                    NaN  ...
7709                      NaN                    NaN  ...

      Optum-Commercial other  Oxford-Commercial other  \
0                        NaN                      NaN
1                        NaN                   4782.0
2                        NaN                   4782.0
3                        NaN                      NaN
4                        NaN                      NaN
...                      ...                      ...
7705                     NaN                      NaN
7706                     NaN                      NaN
7707                     NaN                      NaN
7708                     NaN                      NaN
7709                     NaN                      NaN

      Oxford-Commercial HMO/POS  Tricare-Commercial other  \
0                           NaN                       NaN
1                           NaN                       NaN
2                           NaN                       NaN
3                           NaN                       NaN
4                           NaN                       NaN
...                         ...                       ...
7705                        NaN                       NaN
7706                        NaN                       NaN
7707                        NaN                       NaN
7708                        NaN                       NaN
7709                        NaN                       NaN

      United Healthcare-Commercial other  \
0                                    NaN
1                                3845.25
2                                3845.25
3                                    NaN
4                                5127.00
...                                  ...
7705                                 NaN
7706                                 NaN
7707                                 NaN
7708                                 NaN
7709                                 NaN

      United Healthcare-Medicare Advantage HMO  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
...                                        ...
7705                                       NaN
7706                                       NaN
7707                                       NaN
7708                                       NaN
7709                                       NaN

      United Healthcare-Commercial HMO/POS  United Healthcare-Medicaid HMO  \
0                                      NaN                             NaN
1                                      NaN                          658.94
2                                      NaN                          658.94
3                                      NaN                             NaN
4                                      NaN                             NaN
...                                    ...                             ...
7705                                   NaN                             NaN
7706                                   NaN                             NaN
7707                                   NaN                             NaN
7708                                   NaN                             NaN
7709                                   NaN                             NaN

      United Healthcare-Commercial PPO/Open Access  \
0                                              NaN
1                                              NaN
2                                              NaN
3                                              NaN
4                                              NaN
...                                            ...
7705                                           NaN
7706                                           NaN
7707                                           NaN
7708                                           NaN
7709                                           NaN

      Veteran Family-Commercial other
0                                 NaN
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
7705                              NaN
7706                              NaN
7707                              NaN
7708                              NaN
7709                              NaN

[7710 rows x 57 columns]>

The code here is showing whether or not there are missing values in any of the columns. Even though there are many this is to be expected since not all of the insurances have prices or cover specific treatments.

In [55]:
df2.info

<bound method DataFrame.info of             1199 Code (CPT/DRG)  \
0            433          96360
1            179          96361
2          698.5          96365
3            240          96367
4            240          96368
...          ...            ...
6188  40203.9378            982
6189  26771.6358            983
6190  53190.6336            987
6191  27191.5956            988
6192  17670.3696            989

                                            Description  Rev Code  \
0           HC IV INFUSION HYDRATION INITIAL 31 MIN-1HR      0260
1               HC IV INFUSION HYDRATION FLUIDS ADDL HR      0260
2     HC IV INFUSION FOR THER/PROPH/DIAG INITIAL UP ...      0260
3     HC IV INF THER/PROPH/DIAG ADDL SEQ NEW DRUG UP...      0260
4         HC IV INFUSION FOR THER/PROPH/DIAG CONCURRENT      0260
...                                                 ...       ...
6188  EXTENSIVE O.R. PROCEDURES UNRELATED TO PRINCIP...  Multiple
6189  EXTENSIVE O.R. PROCEDURES UNRELATED TO PRINCIP...  Multiple
6190  NON-EXTENSIVE O.R. PROCEDURES UNRELATED TO PRI...  Multiple
6191  NON-EXTENSIVE O.R. PROCEDURES UNRELATED TO PRI...  Multiple
6192  NON-EXTENSIVE O.R. PROCEDURES UNRELATED TO PRI...  Multiple

      Inpatient/Outpatient  Gross Charges  Discounted Cash Price        Aetna  \
0     Inpatient/Outpatient     866.000000             866.000000      641.706
1     Inpatient/Outpatient     358.000000             358.000000      265.278
2     Inpatient/Outpatient    1397.000000            1397.000000     1035.177
3     Inpatient/Outpatient     480.000000             480.000000       355.68
4     Inpatient/Outpatient     480.000000             480.000000       355.68
...                    ...            ...                    ...          ...
6188             Inpatient  184095.129020          184095.129020   86723.5232
6189             Inpatient   85385.941857           85385.941857   57748.8352
6190             Inpatient  411665.999955          411665.999955  114736.9984
6191             Inpatient  126522.871140          126522.871140   58654.7264
6192             Inpatient   77081.639496           77081.639496   38116.5824

              Cigna Empire Blue Cross Blue Shield  ...  \
0           494.486                        640.84  ...
1           204.418                        264.92  ...
2           797.687                       1033.78  ...
3            274.08                         355.2  ...
4            274.08                         355.2  ...
...             ...                           ...  ...
6188   98911.694706                      82299.84  ...
6189   65864.888166              63931.4550933333  ...
6190  130862.199072                 214294.876425  ...
6191   66898.093812                    91907.6928  ...
6192   43473.507792                   44463.77208  ...

     Consumer Health Network              Devon             Equian  \
0                   393.5104           393.5104           393.5104
1                   162.6752           162.6752           162.6752
2                   634.7968           634.7968           634.7968
3                    218.112            218.112            218.112
4                    218.112            218.112            218.112
...                      ...                ...                ...
6188        83652.8266268735   83652.8266268735   83652.8266268735
6189        38799.3719796408   38799.3719796408   38799.3719796408
6190       187061.0303797436  187061.0303797436  187061.0303797436
6191        57491.9926458445   57491.9926458445   57491.9926458445
6192        35025.8969869067   35025.8969869067   35025.8969869067

           First Health          Magnacare Multiplan/Beechstreet/PHCS  \
0              393.5104           393.5104                   393.5104
1              162.6752           162.6752                   162.6752
2              634.7968           634.7968                   634.7968
3               218.112            218.112                    218.112
4               218.112            218.112                    218.112
...                 ...                ...                        ...
6188   83652.8266268735   83652.8266268735           83652.8266268735
6189   38799.3719796408   38799.3719796408           38799.3719796408
6190  187061.0303797436  187061.0303797436          187061.0303797436
6191   57491.9926458445   57491.9926458445           57491.9926458445
6192   35025.8969869067   35025.8969869067           35025.8969869067

                    QHM          Worldwide Minimum Negotiated Charge  \
0              393.5104           393.5104                253.048250
1              162.6752           162.6752                 51.903250
2              634.7968           634.7968                253.048250
3               218.112            218.112                 82.650750
4               218.112            218.112                156.982800
...                 ...                ...                       ...
6188   83652.8266268735   83652.8266268735              12561.144027
6189   38799.3719796408   38799.3719796408               7833.746854
6190  187061.0303797436  187061.0303797436              21016.798830
6191   57491.9926458445   57491.9926458445              10429.428059
6192   35025.8969869067   35025.8969869067               5995.071552

     Maximum Negotiated Charge
0                  1388.424000
1                  1990.891341
2                  1475.508000
3                  1325.120000
4                  1325.120000
...                        ...
6188             115129.891480
6189              76664.518280
6190             214294.876425
6191              91907.692800
6192              50601.703360

[6193 rows x 47 columns]>

The same is done to df2. Here you can see that there are no missing values detected.

In [9]:
print(df1['Description'].value_counts())

R&B MED 05CA SEMI-PRIVATE/2                                                                   3
R&B SHA 05PS/11PS SEMI-PRIVATE                                                                3
DESTRUCTION OF FIRST DIVISION OF FACE NERVE BRANCH                                            2
INJECTION OF CHEMICAL FOR PARALYSIS OF SALIVARY GLANDS ON BOTH SIDES OF MOUTH                 2
INJECTION OF CHEMICAL FOR PARALYSIS OF FACIAL AND NECK NERVE MUSCLES ON BOTH SIDES OF FACE    2
                                                                                             ..
ANCHOR/SCREW FOR OPPOSING BONE-TO-BONE OR SOFT TISSUE-TO-BONE (IMPLANTABLE)                   1
BRACHYTHERAPY NEEDLE                                                                          1
CARDIOVERTER-DEFIBRILLATOR, DUAL CHAMBER (IMPLANTABLE)                                        1
CARDIOVERTER-DEFIBRILLATOR, SINGLE CHAMBER (IMPLANTABLE)                                      1
SEMI-PRIVATE                                                                                  1
Name: Description, Length: 5449, dtype: int64

Here you can see the amount of times the categorical values are repeated. As you can see the most any of the values were repeated were 3x.

In [10]:
print(df2['Description'].value_counts())

KNEE ARTHROSCOPY/SURGERY                                                         16
REPAIR EYELID DEFECT                                                             12
CYSTOSCOPY AND TREATMENT                                                         12
TREAT HUMERUS FRACTURE                                                            9
SHOULDER ARTHROSCOPY/SURGERY                                                      7
                                                                                 ..
AMPUTATION TOE METATARSAL                                                         1
AMPUTATION THRU METATARSAL                                                        1
AMPUTATION OF MIDFOOT                                                             1
REVISION OF FOOT BONES                                                            1
NON-EXTENSIVE O.R. PROCEDURES UNRELATED TO PRINCIPAL DIAGNOSIS WITHOUT CC/MCC     1
Name: Description, Length: 5925, dtype: int64

Here you can see the amount of times the categorical values are repeated. As you can see the most any of the values were repeated were 16x.

##2. SQLite Database Operations:

###2.1

In [12]:
conn = sqlite3.connect('health.db')
c = conn.cursor()

I am connecting to sqlite3 and creating a sql database within the notebook.

###2.2 Manual table creation:

In [14]:
c.execute("""
            CREATE TABLE catholichealth
                (
                    hospital_name text,
                    insurance_type text,
                    patient_first_name text,
                    patient_last_name text,
                    blood_pressure_systolic real,
                    blood_pressure_diastolic real
                );
          """)

conn.commit()

I am creating a new table within the health.db folder called catholichealth and putting in some column names for patients coming in and getting their blood pressure taken.

In [21]:

c.execute('''
  SELECT name
  FROM sqlite_master
  WHERE type='table';
  ''')

c.fetchall()

[('catholichealth',)]

The table was detected within the database

In [25]:
sql_query = """

INSERT INTO catholichealth (
    'hospital_name',
    'insurance_type',
    'patient_first_name',
    'patient_last_name',
    'blood_pressure_systolic',
    'blood_pressure_diastolic'
  )
  values (
    'good samaritan hospital',
    'fidelis',
    'john',
    'doe',
    120,
    80
  );

"""

print(sql_query)

INSERT INTO catholichealth (
    'hospital_name',
    'insurance_type',
    'patient_first_name',
    'patient_last_name',
    'blood_pressure_systolic',
    'blood_pressure_diastolic'
  )
  values (
    'good samaritan hospital',
    'fidelis',
    'john',
    'doe',
    120,
    80
  );

Here I am using SQL to insert values into the columns I created in the table. Filling out both categorical and numerical information.

In [30]:

c.execute(sql_query)
conn.commit()

I am then committing these changes into the table.

In [31]:
sql_query_2 = """

select *
from catholichealth;

"""

c.execute(sql_query_2)
print(c.fetchall())

[('good samaritan hospital', 'fidelis', 'john', 'doe', 120.0, 80.0)]

Now I am checking to see if the changes were pushed to the table by making the code print out any values in rows.

In [36]:
conn.close()

I am now closing the connection to the health.db since there can only be one connection to it at a time. This will allow me to us sqlite3 with it now.

###2.3. Automatic table creation:

In [49]:
engine = create_engine('sqlite:///health.db')

At first I created an engine to connect to the health.db but the code later on gave me an error saying that the connection was closed. Therefore, I used the below code using .connect to connect to it and then it seemed to have worked.

In [46]:
conn = sqlite3.connect('health.db')

Here I was finally able to connnect using the .connect

In [47]:
df2.to_sql('catholichealth_data', conn, if_exists='replace', index=False)
df2

,1199,Code (CPT/DRG),Description,Rev Code,Inpatient/Outpatient,Gross Charges,Discounted Cash Price,Aetna,Cigna,Empire Blue Cross Blue Shield,...,Consumer Health Network,Devon,Equian,First Health,Magnacare,Multiplan/Beechstreet/PHCS,QHM,Worldwide,Minimum Negotiated Charge,Maximum Negotiated Charge
0,433,96360,HC IV INFUSION HYDRATION INITIAL 31 MIN-1HR,0260,Inpatient/Outpatient,866.000000,866.000000,641.706,494.486,640.84,...,393.5104,393.5104,393.5104,393.5104,393.5104,393.5104,393.5104,393.5104,253.048250,1388.424000
1,179,96361,HC IV INFUSION HYDRATION FLUIDS ADDL HR,0260,Inpatient/Outpatient,358.000000,358.000000,265.278,204.418,264.92,...,162.6752,162.6752,162.6752,162.6752,162.6752,162.6752,162.6752,162.6752,51.903250,1990.891341
2,698.5,96365,HC IV INFUSION FOR THER/PROPH/DIAG INITIAL UP ...,0260,Inpatient/Outpatient,1397.000000,1397.000000,1035.177,797.687,1033.78,...,634.7968,634.7968,634.7968,634.7968,634.7968,634.7968,634.7968,634.7968,253.048250,1475.508000
3,240,96367,HC IV INF THER/PROPH/DIAG ADDL SEQ NEW DRUG UP...,0260,Inpatient/Outpatient,480.000000,480.000000,355.68,274.08,355.2,...,218.112,218.112,218.112,218.112,218.112,218.112,218.112,218.112,82.650750,1325.120000
4,240,96368,HC IV INFUSION FOR THER/PROPH/DIAG CONCURRENT,0260,Inpatient/Outpatient,480.000000,480.000000,355.68,274.08,355.2,...,218.112,218.112,218.112,218.112,218.112,218.112,218.112,218.112,156.982800,1325.120000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6188,40203.9378,982,EXTENSIVE O.R. PROCEDURES UNRELATED TO PRINCIP...,Multiple,Inpatient,184095.129020,184095.129020,86723.5232,98911.694706,82299.84,...,83652.8266268735,83652.8266268735,83652.8266268735,83652.8266268735,83652.8266268735,83652.8266268735,83652.8266268735,83652.8266268735,12561.144027,115129.891480
6189,26771.6358,983,EXTENSIVE O.R. PROCEDURES UNRELATED TO PRINCIP...,Multiple,Inpatient,85385.941857,85385.941857,57748.8352,65864.888166,63931.4550933333,...,38799.3719796408,38799.3719796408,38799.3719796408,38799.3719796408,38799.3719796408,38799.3719796408,38799.3719796408,38799.3719796408,7833.746854,76664.518280
6190,53190.6336,987,NON-EXTENSIVE O.R. PROCEDURES UNRELATED TO PRI...,Multiple,Inpatient,411665.999955,411665.999955,114736.9984,130862.199072,214294.876425,...,187061.0303797436,187061.0303797436,187061.0303797436,187061.0303797436,187061.0303797436,187061.0303797436,187061.0303797436,187061.0303797436,21016.798830,214294.876425
6191,27191.5956,988,NON-EXTENSIVE O.R. PROCEDURES UNRELATED TO PRI...,Multiple,Inpatient,126522.871140,126522.871140,58654.7264,66898.093812,91907.6928,...,57491.9926458445,57491.9926458445,57491.9926458445,57491.9926458445,57491.9926458445,57491.9926458445,57491.9926458445,57491.9926458445,10429.428059,91907.692800
6192,17670.3696,989,NON-EXTENSIVE O.R. PROCEDURES UNRELATED TO PRI...,Multiple,Inpatient,77081.639496,77081.639496,38116.5824,43473.507792,44463.77208,...,35025.8969869067,35025.8969869067,35025.8969869067,35025.8969869067,35025.8969869067,35025.8969869067,35025.8969869067,35025.8969869067,5995.071552,50601.703360

I inserted df2 from part 1 into the health.db using pandas using the .to_sql funtion.

In [48]:
cursor = conn.cursor()
cursor.execute('''
  SELECT name
  FROM sqlite_master
  WHERE type='table';
  ''')

cursor.fetchall()

[('catholichealth',), ('catholichealth_data',)]

As can be seen here I was able to successfully put in a new table from part 1 called catholichealth_data using pandas. It has detected both the new table and the one I manually put in before using sql.